.main {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .main {
    width: calc(100% - 300px);
  }
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-image: url("../Assets//images/bg3.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.home h2 {
  width: auto;
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 30px;
}
@media only screen and (min-width: 600px) {
  .home h2 {
    font-size: 60px;
  }
}
