.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sideBar {
  width: 0px;
}

@media only screen and (min-width: 600px) {
  .sideBar {
    width: 300px;
    height: 100vh;
    /* visibility: hidden; */
  }
}
