.bullet {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.bullet svg {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  fill: #2196f3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-left: 10px;
}
.bullet:hover svg {
  opacity: 1;
  fill: #149ddd;
  margin-left: 0px;
}
.bullet .key {
  font-weight: bolder;
  margin-right: 20px;
}
.link {
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .bullet {
    padding-left: 0px;
  }
}
