.sideBar {
  width: 300px;
  background-color: black;
  /* max-height: 100vh; */
  height: 100vh;
  color: white;
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0px;
  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  z-index: 1;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.navigation {
  padding: 0px 0px 0px 30px;
  margin: 30px 0px;
  overflow-y: auto;
  min-height: 100px;
}
.mobNav {
  left: 0px;
}

@media only screen and (min-width: 600px) {
  .sideBar {
    position: fixed;
    left: 0;
    transition: 0s;
  }
}
